.Button {
  width: 50px;
  height: 50px;
  font-family: "Abel", sans-serif;
  font-size: 13px !important;
  border: 0px solid red !important;
  margin: 5px;
  border-radius: 50% !important;
  background: #ebe8e8;
  color: #000 !important;
}
.Button:hover { 
  color: white;
}
