.Orders {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.OrderRow {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.PhotoContainer {
  display: flex;
}
.Photo {
  width: 500px;
  height: 442px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.RowMargin {
  width: 170px;
  font-family: "Abel", sans-serif;
  font-size: 17px;
  padding-left: 20px;
}
.Spinner {
  width: 40px;
  margin-top: 20px;
}
.RemoveButton {
  width: 100px;
  height: 33px;
  border-radius: 3px;
  border: 1px solid #919191;
  font-family: "Abel", sans-serif;
  color: #919191;
  cursor: pointer;
}
.Prev {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: #c0c4c4;
  font-family: "Abel", sans-serif;
  font-size: 22px;
  color: #777878;
}
.Next {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: #c0c4c4;
  color: #777878;
  font-family: "Abel", sans-serif;
  font-size: 22px;
}
