.Orders {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.OrderRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Photo {
  width: 130px;
  height: 100px;
}
.RowMargin {
  margin: 10px;
  width: 130px;
  font-family: "Abel", sans-serif;
}
.Spinner {
  width: 40px;
  margin-top: 20px;
}
.RemoveButton {
  width: 100px;
  height: 33px;
  border-radius: 3px;
  border: 1px solid #919191;
  font-family: "Abel", sans-serif;
  color: #919191;
  cursor: pointer;
}
