@media (min-width: 500px) and (max-width: 800px) {
  .ProductAndPrice {
    width: 90%;
    margin: auto;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .ProductAndPrice {
    width: 90%;
    margin: auto;
    background-color: #fff;
    height: 900px;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }
}
