.ErrorMessage {
  position: fixed;
  width: 340px;
  /* max-width: 70%; */
  height: 50px;
  left: 0;
  top: 220px;
  color: white;
  z-index: 200;
  background-color: #000;
  box-sizing: border-box;
  transition: transform 330ms ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  border-radius: 25px;
  border: 3px solid cadetblue;
}

@media (max-width: 500px) {
  .ErrorMessage {
    display: none;
  }
}

.Open {
  margin: 0;
  position: absolute;
  transform: translate(-50%);
  /* top: 50%; */
  left: 50%;
}
.Close {
  transform: translateX(-100%);
}
