.Counter {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-top: 40px;
  margin: auto;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.TextFont {
  font-family: "Abel", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.LeftIncrement {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  font-family: "Abel", sans-serif;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background-color: #c7c7c7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.RightIncrement {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  font-family: "Abel", sans-serif;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background-color: #c7c7c7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Increment {
  width: 118px;
  height: 40px;
  border: 1px solid #fff;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  padding-top: 7px;
  color: #000;
  background: #f0f0f0;
}
