@media (max-width: 500px) {
  .SidebarButton {
    display: block;
    height: 70px;
    background-color: #454242;
    color: #fff;
    font-family: "Arimo", sans-serif;
    font-size: 15px;
    margin-bottom: 4px;
    margin-left: -16px;
    cursor: pointer;
    width: 210px;
  }

  .SidebarButton a {
    color: 000;
    height: 100%;
    width: 210px !important;
    padding-left: 30px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 25px;
    color: #fff;
  }

  .SidebarButton a:hover,
  .SidebarButton a:active,
  .SidebarButton a.active {
    color: #ffcc00;
    width: 210px !important;
    text-decoration: none;
  }
}
