@media (max-width: 500px) {
  .SensorSize {
    display: block;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    width: 93%;
    margin-left: 10px;
    margin-top: 20px;
  }
  .OrderButtons {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }
  .Center {
    margin: auto;
    width: 120px;
  }
  .Label {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    margin-left: 7px;
  }
  .Button {
    margin-left: 12px !important;
  }
}
@media (min-width: 500px) and (max-width: 801px) {
  .SensorSize {
    display: block;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    width: 93%;
    margin-left: 10px;
    margin-top: 20px;
  }
  .OrderButtons {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }
  .Center {
    margin: auto;
    width: 120px;
  }
  .Label {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    margin-left: 7px;
  }
  .Button {
    margin-left: 12px !important;
  }
}
@media (min-width: 801px) {
  .Classification {
    display: block;
    background-color: #fff;
    border-radius: 10px;
    height: 500px;
    width: 95%;
    margin-bottom: 80px;
    margin-top: 0px !important;
    margin-left: 10px;
    padding-top: 20px;
    font-family: "Abel", sans-serif;
    font-size: 20px;
  }
  .Type {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    border: 0px solid #ccc;
    margin-left: 130px;
    padding-top: 4px;
    background: #ebe8e8;
    color: #000;
  }
  .Select {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    height: 50px;
    width: 200px !important;
    margin-left: 93px;
    padding-top: 0px;
  }
  .OrderButtons {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
  }
  .Center {
    margin: auto;
    width: 250px;
    margin-top: 11px;
  }
  .Label {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    margin-left: 7px;
  }
  .Button {
    margin: 10px !important;
  }
}
