.FooterNavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-decoration: none;
}
.FooterNavigationItem a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;

  font-family: "Abel", sans-serif;
  font-size: 25px;
}
.FooterNavigationItem a:hover,
.FooterNavigationItem a:active,
.FooterNavigationItem a.active {
  color: #5cad45;
  text-decoration: none;
}

@media (min-width: 500px) {
  .FooterNavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  .FooterNavigationItem a {
    color: #fff;
    height: 100%;

    border-bottom: 4px solid transparent;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  .FooterNavigationItem a:hover,
  .FooterNavigationItem a:active,
  .FooterNavigationItem a.active {
    /* border-bottom: 4px solid #fff; */
    /* color: #ffcc00; */
    font-weight: bold;
  }
}
