@media (max-width: 500px) {
  .HeaderDescription {
    display: flex;
    background-color: red;
    flex-direction: row;
    border-radius: 5px;
    margin: auto;
    height: 70px;
    width: 90%;
    color: #fff;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    margin-bottom: 35px;
  }
  .Title {
    width: 100%;
    font-weight: normal;
    padding-top: 5px;
    font-family: "Abel", sans-serif;
    font-weight: normal;
    padding-left: 10px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }

  .TitleSpacers {
    display: flex;
    justify-content: flex-start;
  }
  .Discount {
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 0px;
    height: 70px;
    width: 300px;
    background: #4f4d4d;
    font-size: 12px;
  }
  .UnitCost {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    width: 90px;
    padding-top: 10px;
  }
  .Price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Abel", sans-serif;
    font-size: 15px;
    padding-bottom: 13px;
  }
}
@media (min-width: 500px) and (max-width: 801px) {
  .HeaderDescription {
    display: flex;
    background-color: #ff4e3f;
    flex-direction: row;
    border-radius: 5px;
    margin: auto;
    height: 70px;
    width: 90%;
    color: #fff;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    margin-bottom: 35px;
  }
  .Title {
    width: 100%;
    font-weight: normal;
    padding-top: 5px;
    font-family: "Abel", sans-serif;
    font-weight: normal;
    padding-left: 10px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }

  .TitleSpacers {
    display: flex;
    justify-content: flex-start;
  }
  .Discount {
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 0px;
    height: 70px;
    width: 300px;
    background: #ff4e3f;
    font-size: 12px;
  }
  .UnitCost {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    width: 90px;
  }
  .Price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Abel", sans-serif;
    font-size: 15px;
    margin-top: 15px;
  }
}
@media (min-width: 801px) {
  .HeaderDescription {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    color: #000;
    font-size: 20px;
    border: 0px solid #ffcc00;
    font-family: "Abel", sans-serif;
  }
  .Title {
    width: 70%;
    font-weight: normal;
    padding-top: 0px;
    font-family: "Abel", sans-serif;
    font-weight: normal;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .TitleSpacers {
    display: flex;
    justify-content: flex-start;
  }
  .Discount {
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 0px;
    height: 30px;
    width: 300px;
    font-size: 12px;
  }
  .UnitCost {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    width: 90px;
    padding-top: 10px;
  }
  .Price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Abel", sans-serif;
    font-size: 15px;
    padding-bottom: 50px;
    width: 70%;
    font-size: 60px;
  }
  .OfferLabel {
    border-radius: 50%;
    background: #b80a13;
    width: 130px;
    height: 130px;
    color: #fff;
    margin-top: 10px;
    font-family: "Abel", sans-serif;
    /* font-family: "Fira Sans", sans-serif; */
    font-size: 50px;
  }
}
