.Container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.Subtotal {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 5px auto;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.Label {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  width: 350px;
}
.PriceLabel {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  width: 120px;
}
.ShowOffer {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 5px auto;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.HideOffer {
  display: none;
  flex-direction: row;
  width: 40%;
  margin: 25px auto;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.Divider {
  width: 300px;
  background-color: #c4c4c4;
  display: flex;
  border: 1px solid #c4c4c4;
  font-family: "Abel", sans-serif;
}
.Calculation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  right: 20px;
  width: 60%;
}
.testFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  right: 20px;
  width: 80%;
}
