.BuyerInfo {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100% !important;
  height: 100%;
  margin-bottom: 25px;
}

.Logo {
  display: block;
  margin: 10px;
  width: 200px;
  margin: 45px auto;
}
.Fieldset {
  border: 1px #ccc solid;
  border-radius: 10px;
  width: 90%;
  height: 100px;
  margin: auto;
}
.Legend {
  margin-left: 20px;
  padding: 20px;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  margin: auto;
  width: 150px;
}
.Divide {
  display: block;
}
.LogoSize {
  width: 200px;
  height: 54px;
}
.ActionForm {
  margin-top: 70px;
}
.PayPal {
  width: 200px;
  border-radius: 15px;
  background: #ffc43a;
  color: #000;
  height: 35px;
  font-family: "Abel", sans-serif;
  font-size: 18px;
  margin: -10px auto;
  cursor: pointer;
}
.CenterPayPal {
  width: 190px;
  margin: auto;
}
.PayPalSize {
  width: 130px;
  height: 32px;
}
.Line {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 25px auto;
  font-family: "Abel", sans-serif;
  font-size: 13px;
  color: #999999;
}
.choiceline {
  display: flex;
  flex-direction: row;
  width: 78%;
  margin: auto;
  font-size: 12px;
  color: #999999;
}
.CategoryHeader {
  display: flex;
  flex: row;
  width: 90%;
  margin: 0px auto;
  font-family: "Abel", sans-serif;
  color: #000;
  margin-top: 20px;
}
.LeftHeader {
  display: flex;
  justify-content: flex-start;
  font-family: "Abel", sans-serif;
  font-size: 24px;
}
.RightHeader {
  display: flex;
  justify-content: flex-end;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  margin-top: 11px;
  width: 62%;
}
.RightHeader a {
  text-decoration: none;
  color: #bb860b;
}
.RightHeader a:hover,
.RightHeader a:active,
.RightHeader a.active {
  border-bottom: 1px solid #bb860b;
  color: #bb860b;
  text-decoration: none;
  z-index: 20;
  display: inline-block;
  width: auto;
}
.InputElement {
  width: 80% !important;
}
.ContactContainer {
  display: flex;
  flex-direction: row;
  width: 86% !important;
  margin: auto;
}
.Name {
  width: 100% !important;
}
.RadioContainer {
  display: block;
  margin: 3px;
}
.SelectContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.PostalCode {
  margin: auto;
  width: 80%;
}
.Region {
  font-family: "Abel", sans-serif;
  font-size: 15px;
  color: #9da1a1;
  padding-left: 20px;
}
.CountryContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: -20px auto;
}
.Country {
  display: flex;
}
.Arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 20px;
}
.Down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.NavigateFromCheckout {
  display: flex;
  flex-direction: row;
  width: 90% !important;
  margin: auto;
  margin-top: 50px;
}
.ToCart {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.ToCart a {
  text-decoration: none;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  color: #bb860b;
  margin-top: 20px;
}
.ToCart a:hover,
.ToCart a:active,
.ToCart a.active {
  border-bottom: 0px solid #bb860b;
  color: #ffcc00;
  text-decoration: none;
  z-index: 20;
  display: inline-block;
  width: auto;
}
.ToShipping {
  display: flex;
  right: 10px;
  height: 70px;
  width: 170px;
  background: #bb860b;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.ShippingText {
  width: 130px;
  margin: auto;
}
