.OrderLabels {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 0px solid #6e6e6e;
  margin-top: 20px;
  background: #000;
  margin-left: 25px;
  width: 370px;
  height: 400px;
  color: #fff;
  border-radius: 25px;
}
.LabelDivider {
  margin: 5px;
  width: 100px;
  color: #000;
  text-transform: uppercase;
}
.Result {
  display: flex;
  justify-content: flex-end;
  width: 150px;
  margin: 5px;
  right: 10px;
}
.Labels {
  font-family: "Abel", sans-serif;
  font-size: 17px;
  padding-left: 20px;
  margin: 7px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: #b0a7a7;
  border: 0px solid #fff;
}
