.Footer {
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 220px;
  background-color: #34363b;
}
.CenterElements {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
